<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bancodio">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BancoDio"
        tools:targetApi="31">
        <activity
            android:name=".ActClientes"
            android:exported="false"
            android:label="@string/title_activity_act_clientes"
            android:theme="@style/Theme.BancoDio.NoActionBar" />
        <activity
            android:name=".ActDeposito"
            android:exported="false"
            android:label="@string/title_activity_act_deposito"
            android:theme="@style/Theme.BancoDio.NoActionBar" />
        <activity
            android:name=".ActSaque"
            android:exported="false"
            android:label="@string/title_activity_act_saque"
            android:theme="@style/Theme.BancoDio.NoActionBar" />
        <activity
            android:name=".ActTransferencia"
            android:exported="false"
            android:label="@string/title_activity_act_transferencia"
            android:theme="@style/Theme.BancoDio.NoActionBar" />
        <activity
            android:name=".ActContas"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>